@import url(https://fonts.googleapis.com/css?family=Khula:700);

header {
  font-family: Khula;
  margin-top: 2%;
  font-size: 1.2em;
  text-align: center;
  color: #ea484e;
}

body {
  background: #292929
}
